body
{
	background: "";
}

	.login_div1 , .login_div2
	{
		background: rgba(10, 102, 114, 0.596);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgba(250, 10, 10, 0.445);
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}
#addButton
{
    color: #AA4465;
    background-color: black;
}
